
@font-face {
  font-family: 'Mona Sans';
  font-weight: 200 900;
  font-display: block;
  font-style: normal;
  font-stretch: 75% 125%;
  src: url('../fonts/Mona-Sans.var.woff2') format('woff2');
}

@font-face {
  font-family: 'Neue Haas Display';
  font-weight: 200;
  font-display: block;
  font-style: normal;
  font-stretch: 75% 125%;
  src: url('../fonts/NeueHaasDisplayXThin.ttf') format('truetype');
}

@font-face {
  font-family: 'Neue Haas Display';
  font-weight: 500;
  font-display: block;
  font-style: normal;
  font-stretch: 75% 125%;
  src: url('../fonts/NeueHaasDisplayMediu.ttf') format('truetype');
}


@font-face {
  font-family: 'Neue Haas Display';
  font-weight: 300;
  font-display: block;
  font-style: normal;
  font-stretch: 75% 125%;
  src: url('../fonts/NeueHaasDisplayLight.ttf') format('truetype');
}


@font-face {
  font-family: 'Neue Haas Display';
  font-weight: 700;
  font-display: block;
  font-style: normal;
  font-stretch: 75% 125%;
  src: url('../fonts/NeueHaasDisplayBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Neue Haas Display';
  font-weight: 800;
  font-display: block;
  font-style: normal;
  font-stretch: 75% 125%;
  src: url('../fonts/NeueHaasDisplayBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Neue Haas Display';
  font-weight: 900;
  font-display: block;
  font-style: normal;
  font-stretch: 75% 125%;
  src: url('../fonts/NeueHaasDisplayBlack.ttf') format('truetype');
}
